<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <header>
            <div style='text-align:center' class="logo">
                <h3 style='text-align:center'>Bienvenido Administrador! ☕️</h3>
                        <br><img src="/images/librosonline.jpg" width="200"></br>
                        <br></br>
                        <img src="/images/tree.jpg" width="200">
            </div>
        </header>
            <div style='text-align:center'>
                <br>Ingrese su Usuario y Contraseña.🔒</br>
            </div>
                {{{body}}}
        <footer>
            <div style='text-align:center'>
                <br></br>
                    <br></br>
                        <br></br>
                            <p>Derechos reservados. LibrosOnline!.</p>
            </div>
        </footer>
    </body>
</html>