<!DOCTYPE html>
<html>
    <head>
        <title>LibrosOnline!</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="favicon" type="https://cdn.sstatic.net/Sites/es/img/apple-touch-icon.png?v=7739871010e6">
    </head>
    <body>
        <header class="text-align:center">
            <div class="holder">
                <div class="logo">
                    <h1 style="position: static;">LibrosOnline!</h1>
                </div>
            </div>
        </header>
            {{{body}}}
        <footer>
            <p>Derechos reservados. LibrosOnline!</p>
        </footer>
    </body>
</html>